In [10]:
import os, sys

In [11]:
pi_module_path = os.path.join('/app/')
sys.path.append(pi_module_path)

In [12]:
from houdini.pi.lib.feature_selection import BasicExtractor

In [13]:
data = [
  {"text": "I need silence, and to be alone and to go out, and to save one hour…", "class": "non-pi"},
  {"text": "I need more tiaras. I haven't bought a new one in over a year and that's a shame. Send an Amazon gift card so I can fix this today! goddessjoules@gmail.com", "class": "pi"},  
  {"text": "Hi, recently I was wondering if it pays to buy gtx 1070 or wait for new this year's nvidia graphics cards", "class": "pi"},
  {"text": "I have been planning for years to immigrate to Canada, the heaven of justice! and now it’s over a year/years that most of #OutlandIranianApplicants are stuck in the assessment limbo of @CitImmCanada. @AhmedDHussen @JustinTrudeau @RalphGoodale @ICCongress", "class": "non-pi"},
  {"text": "Can you please recommend a good place to have lunch in Bangalore?", "class": "pi"},
  {"text": "I want to buy a phone", "class": "pi"},
  {"text": "What are some good places to have lunch in Accra", "class": "pi"},    
  {"text": "I want there to be some sanity in Accra", "class": "non-pi"},        
]

In [14]:
be = BasicExtractor(data)

In [9]:
be.get_features()

   WPA      WNPA  SENTIMENT  CPO  CPNO  ADO  ORG  LOC  CLASS
0  1.0  0.733700   0.000000    0     0    0    0    0      0
1  1.0  0.423067   0.335227    0     0    0    0    0      1
2  1.0  0.318851   0.068182    0     0    0    0    0      1
3  1.0  0.000000   0.500000    0     0    0    0    0      0
4  1.0  0.000000   0.700000    0     0    0    0    1      1
5  1.0  0.000000   0.000000    0     0    0    0    0      1
6  1.0  0.000000   0.700000    0     0    0    0    1      1
7  1.0  0.000000   0.000000    0     0    0    0    1      0